.footer {
    background-color: #302727;
    padding: 10px 0;
  }
  
  .footer .col {
    text-align: left;
  }
  
  
  
  .footer p {
    color: #ffffff;
  }
  
  .footer h2 {
      color: #ffffff;
      margin-bottom: 0;
  }
  